/* INCLUDE: Inter font family */

@import url("fonts/Inter/Inter.css");

/* INCLUDE: JetBrains Mono font family */

@import url("fonts/JetBrainsMono/JetBrainsMono.css");

/* Main CSS */

body {
    margin: 0;
    background: linear-gradient(90deg, #e66465, #9198e5)
}

.content-window {
    max-width: 90%;
    margin: 5% auto;
    border: 3px solid #000;
    border-radius: 0px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.content-window-text {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    padding: 5px 20px;
    h3 {
        font-family: 'JetBrains Mono', sans-serif;
    }
}

.nav-banner {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
}