---

import '/src/styles/style.css';
const PageTitle = "404";

---

<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{PageTitle} | Leo Pagano</title>
	</head>
	<body>
		<div class="content-window">
			<div class="content-window-text">
				<h3>This page doesn't exist. Or does it?</h3>
				<hr>
				<p>Error 404 - would you like to <a href="/">go home</a>?</p>
			</div>
		</div>
	</body>
</html>
