---
import Breadcrumbs from "@/components/Breadcrumbs.astro"
import PageHead from "@/components/PageHead.astro"
import { buttonVariants } from "@/components/ui/button"
import Layout from "@/layouts/Layout.astro"
import { cn } from "@/lib/utils"
import { Icon } from "astro-icon/components"
---

<head>
	<script is:inline src="https://js.usebasin.com/v2.6.0.min.js" async></script>
</head>

<Layout>
	<PageHead slot="head" title="Contact Me" />
	<Breadcrumbs
		items={[{ label: "Contact Me", icon: "lucide:message-square" }]}
	/>

	<section>
		<div class="min-w-full">
			<h2 class="mb-4 text-4xl">Contact Me</h2>
			<p class="text-muted-foreground mb-2">
				This form is the fastest way for those I don't already know to reach me.
			</p>
			<p class="text-muted-foreground mb-4">
				If you included valid contact information, expect a response within 48
				hours, barring weekends and holidays.
			</p>

			<p class="hidden font-medium text-green-400" id="form-success">
				<b>
					Thank you for your submission! I'll get back to you as soon as I can.
				</b>
			</p>
			<p class="hidden font-medium text-red-400" id="form-error">
				<b>
					Oops, something went wrong. Please try again. (Did you complete the Turnstile challenge?)
				</b>
			</p>

			<form
				id="contactForm"
				method="POST"
				action="https://usebasin.com/f/85671cd868ac"
				enctype="multipart/form-data"
				data-basin-success-id="form-success"
				data-basin-error-id="form-error"
				data-basin-form
				data-basin-success-action="render"
				data-basin-spam-protection="turnstile"
				data-basin-turnstile-sitekey="0x4AAAAAAA5RE1I-uT71yDEi"
				class="hidden overflow-hidden p-0.75"
			>
				<!-- The positioning we use for the icons here is very hacky but whatever -->
				<div class="relative">
					<Icon
						name="lucide:user"
						class="text-primary absolute top-1/4 left-3 size-4"
					/>
					<input
						id="fullname"
						class="focus:ring-primary mb-2 w-full rounded-md border py-2 pl-10 text-sm focus:ring-2 focus:outline-none"
						name="fullname"
						type="text"
						placeholder="Full name (required)"
						required
					/>
				</div>
				<div class="flex gap-2">
					<div class="relative flex-1">
						<Icon
							name="lucide:mail"
							class="text-primary absolute top-1/4 left-3 size-4"
						/>
						<input
							id="email"
							class="focus:ring-primary mb-2 w-full rounded-md border py-2 pl-10 text-sm focus:ring-2 focus:outline-none"
							name="email"
							type="email"
							placeholder="Email address (required)"
							required
						/>
					</div>
					<div class="relative flex-1">
						<Icon
							name="lucide:phone"
							class="text-primary absolute top-1/4 left-3 size-4"
						/>
						<input
							id="phone"
							class="focus:ring-primary mb-2 w-full rounded-md border py-2 pl-10 text-sm focus:ring-2 focus:outline-none"
							name="phone"
							type="tel"
							placeholder="Phone number (optional)"
						/>
					</div>
				</div>
				<div class="relative">
					<Icon
						name="lucide:message-circle"
						class="text-primary absolute top-2.5 left-3 size-4"
					/>
					<textarea
						id="message"
						class="focus:ring-primary mb-2 min-h-9 w-full resize-y rounded-md border py-2 pl-10 text-sm focus:ring-2 focus:outline-none"
						name="message"
						rows="8"
						placeholder="Type away..."
						required></textarea>
				</div>
				<button
					class={cn(
						buttonVariants({ variant: "outline" }),
						"flex gap-x-1.5 group",
					)}
					type="submit"
					id="submit-btn"
				>
					<Icon name="lucide:send" class="size-4" />
					Submit
				</button>
			</form>

			<noscript>
				<p class="font-medium text-red-400">
					This form requires a web browser with JavaScript enabled. Please
					enable JavaScript, reload, and try again.
				</p>
			</noscript>
		</div>
	</section>
</Layout>

<script>
	// Unhide contact form
	document.getElementById("contactForm")!.style.display = "block"

	// Handle navigation to this page
	document.addEventListener("astro:after-swap", () => {
		if (["/contact", "/contact/"].includes(window.location.pathname)) {
			window.location.reload()
		}
	})

	// Add spacing between submit button and Turnstile
	document.getElementById("submit-btn")?.addEventListener("click", function () {
		this.classList.add("mb-4")
	})
</script>
