---
import background from '../assets/background.png';
import '../styles/reset.css';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Contact | leoapagano.com</title>
	</head>
	<body>
		<img id="background" src={background.src} alt="Background image" fetchpriority="high" />
		<div id="container">
			<main>
				<h1>Contact</h1>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
				<p>Stuff goes here.</p>
			</main>
		</div>
	</body>
</html>

<style>
	/* Basics */
	html, body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	#container {
		font-family: 'Inter', sans-serif;
		height: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}
	@media screen and (min-width: 768px) {
		#container {
			align-items: center;
		}
	}


	/* Background image */
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		object-fit: cover;
		object-position: top center;
	}


	/* Contact form block */
	main {
		background: #ffffff;
		opacity: 0.8;
		border-radius: 15px;
		margin: 24px;
		padding: 15px;
		padding-top: 10px;
		max-width: 640px;
		flex: 1;
	}


	/* Text */
	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}
	a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}
	a:hover {
		color: rgb(78, 80, 86);
	}
	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}
</style>




