---
import background from '../assets/background.png';
import Common from '../layouts/common.astro';
import '../styles/fonts.css';
import '../styles/reset.css';
---

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<script src="https://js.usebasin.com/v2.3.0.min.js" async></script>
</head>


<Common background_path={background.src} title="Contact Me">
	<h1>Contact Me</h1>
	<p>This form is the fastest way for those I don't already know to reach me.</p>
	<p><i>If you included valid contact information, expect a response within 48 hours, barring weekends and holidays.</i></p>
	<div id="form-success"><p>Thank you for your submission! I'll get back to you as soon as I can.</p></div>
	<div id="form-error"><p>Oops, something went wrong. Please try again. hsajc csj qanxqi jxmjk</p></div>
	<form method="POST" action="https://usebasin.com/f/85671cd868ac" enctype="multipart/form-data" data-basin-success-id="form-success" data-basin-error-id="form-error" data-basin-form data-basin-success-action='render' data-basin-spam-protection='turnstile' data-basin-turnstile-sitekey="0x4AAAAAAA5RE1I-uT71yDEi">
		<div class="input">
			<input id="fullname" class="formitem" name="fullname" type="text" placeholder="Full name (required)" required />
		</div>
		<div class="input">
			<input id="email" class="formitem" name="email" type="email" placeholder="Email address (required)" required />
		</div>
		<div class="input">
			<input id="phone" class="formitem" name="phone" type="tel" placeholder="Phone number (optional)" />
		</div>
		<div class="input">
			<textarea id="message" class="formitem" name="message" rows="12" placeholder="Type away..." required />
		</div>
		<button class="submit-button" type="submit">Submit</button>
	</form>
</Common>


<style>
	/* Text formatting */
	h1 {
		font-size: 40px;
		font-weight: 400;
	}
	p {
		font-size: 16px;
		font-weight: 500;
		margin: 8px 0;
	}

	/* Form feedback messages */
	#form-success {
		color: green;
		display: none;
	}
	#form-error {
		color: red;
		display: none;
	}

	/* Contact form */
	form {
		overflow: hidden;
		padding: 3px;
	}
	.formitem {
		margin-bottom: 6px;
		width: 100%;
	}
	#message {
		resize: none;
	}
	.submit-button {
		margin-bottom: 10px;
	}
</style>
