---

import '/src/styles/style.css';
const PageTitle = "Home"

---

<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Leo Pagano</title>
	</head>
	<body>
		<div class="desktop-window">
			<div class="title-bar">
				<div class="title">{PageTitle} - leoapagano.com</div>
			</div>
			<div class="body-text">
				<h3 style="font-weight:500">Hi! I'm Leo!</h3>
				<hr>
				<p>This site is under construction. Check these out in the meantime;</p>
				<ul>
				<li><a href="mailto:leo@leoapagano.com">Email me</a></li>
				<li>My <a href="https://github.com/leoapagano", target=”_blank”>GitHub</a></li>
				<li>My <a href="https://www.linkedin.com/in/leoapagano", target=”_blank”>LinkedIn</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
