---

import '/src/styles/style.css';

---

<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Leo Pagano</title>
	</head>
	<body>
		<div class="desktop-window">
			<div class="title-bar">
				<div class="title">Welcome to my website!</div>
			</div>
			<div class="body-text">
				<h3 style="font-weight:500">There's not much to see here yet.</h3>
				<p>I&#39;m still learning how to make a proper website, so it&#39;ll be a good while before I have a real site. In the meantime, here&#39;s some useful links to stuff;</p>
				<ul>
				<li>My <a href="https://github.com/leoapagano">GitHub</a></li>
				<li>My <a href="https://www.linkedin.com/in/leoapagano">LinkedIn</a></li>
				</ul>
				<p>If you are interested in projects of mine, feel free to contact me at any of these locations.</p>
				<p>One day, I&#39;ll have more projects and a nicer website to show off here. Today is not that day.</p>
				<p style="font-weight:500">LP ≈☆</p>
			</div>
		</div>
	</body>
</html>
