---
import BlogCard from "@/components/BlogCard.astro"
import Link from "@/components/Link.astro"
import PageHead from "@/components/PageHead.astro"
import { buttonVariants } from "@/components/ui/button"
import { SITE } from "@/consts"
import Layout from "@/layouts/Layout.astro"
import { getRecentPosts } from "@/lib/data-utils"

import { Image } from "astro:assets"
import headshot from "/src/assets/headshot.jpg"

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout>
	<PageHead slot="head" title="Home" />

	<!-- Site info/introduction -->
	<section id="introduction">
		<div class="flex flex-col space-y-1.5">
			<h1 class="text-5xl leading-none">Hi! I'm Leo.</h1>
		</div>
		<div class="my-6 pt-0">
			<div class="flex flex-col pt-0 md:flex-row md:items-start md:space-x-6">
				<div class="flex-1">
					<Image
						src={headshot}
						alt="Leo's headshot"
						class="mb-4 h-32 w-32 rounded-lg sm:h-48 sm:w-48 md:order-last md:mb-0 md:ml-auto"
					/>
					<h3 class="mb-2 text-3xl">About Me</h3>
					<p class="text-muted-foreground mb-2">
						I'm currently a 3rd year Computer Science and Engineering major at
						the University of Connecticut, concentrating in <Link
							href="https://computing.engineering.uconn.edu/undergraduate/major-programs/undergraduate-course-concentrations/#systems"
							class="text-foreground"
							external
							underline
						>
							Systems and Networks.
						</Link>
					</p>
					<p class="text-muted-foreground mb-2">
						While you're here, check out some of the <Link
							href="/portfolio"
							class="text-foreground"
							underline>projects</Link
						> or <Link href="/blog" class="text-foreground" underline
							>blog posts</Link
						> I've made. Many of these projects are open source and have been uploaded
						to <Link
							href="https://github.com/leoapagano"
							class="text-foreground"
							external
							underline>my GitHub page</Link
						>.
					</p>
					<p class="text-muted-foreground mb-2">
						I encourage you to reach out to me <Link
							href="/contact"
							class="text-foreground"
							underline>here</Link
						> or via <Link
							href="https://linkedin.com/in/leoapagano"
							class="text-foreground"
							external
							underline>LinkedIn</Link
						>.
					</p>
				</div>
			</div>

			<h3 class="my-4 mb-2 text-3xl">Currently...</h3>
			<ul class="text-muted-foreground">
				<li>
					I am a TA for an Intro to Computing for Engineers (<Link
						href="https://classes.uconn.edu/?details&srcdb=1258&crn=4376"
						class="text-foreground"
						external
						underline>CSE 1010</Link
					>) class at UConn, teaching 40+ students across two labs the
					fundamentals of Python and good software design.
				</li>
				<li>
					I am also leading an effort to rewrite and modernize the backend
					systems used in <Link
						href="https://github.com/mars-ethics-team/mars-releases/releases"
						class="text-foreground"
						external
						underline>a game</Link
					> played by hundreds of engineering students at UConn and many other universities.
				</li>
				<li>
					I recently interned for a UConn Senior Design project designing a
					custom OS from scratch for the Raspberry Pi, to be used to teach OS
					development.
				</li>
				<li>
					I recently served as a Floor Mentor for the <Link
						href="https://undergrad.engr.uconn.edu/current-students-activities-organizations/engineering-living-learning-communities/engineering-house-learning-community/"
						class="text-foreground"
						external
						underline>Engineering House Learning Community</Link
					>.
				</li>
			</ul>
		</div>
	</section>

	<!-- Blog highlights -->
	<section class="flex flex-col gap-y-2">
		<h3 class="mb-2 text-3xl">Latest Posts</h3>
		<ul class="flex flex-col gap-y-4">
			{
				blog.map((post) => (
					<li>
						<BlogCard entry={post} />
					</li>
				))
			}
		</ul>
		<div class="flex justify-center">
			<Link
				href="/archive"
				class={buttonVariants({ variant: "ghost" }) + " group"}
			>
				See all posts <span
					class="ml-1.5 transition-transform group-hover:translate-x-1"
					>&rarr;</span
				>
			</Link>
		</div>
	</section>
</Layout>

<style>
	/* Star-bulleted list */
	#introduction li {
		position: relative;
		padding-left: 24px;
		margin-bottom: 2px;
	}
	#introduction li::before {
		content: "★";
		position: absolute;
		left: 0;
	}

	/* Headshot */
	#introduction img {
		float: right;
		margin-left: 1rem;
	}
</style>
