---
import backgroundImage from "@/assets/background.png"
import { Image } from "astro:assets"
---

<div class="fixed inset-0 -z-10">
	<Image
		src={backgroundImage}
		alt="Background"
		class="h-full w-full object-cover print:hidden"
	/>
</div>
