---
import '@/styles/global.css'
import '@/styles/typography.css'

import Background from '@/components/Background.astro'
import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { SITE } from '@/consts'
---

<!doctype html>
<html lang={SITE.locale}>
  <Head>
    <slot name="head" />
  </Head>
  <body>
    <Background />
    <div class="flex h-fit min-h-screen flex-col font-sans md:gap-y-6">
      <Header />
      <main class="grow">
        <div class="relative mx-auto flex grow flex-col gap-y-6 max-w-3xl p-4 backdrop-blur-sm md:rounded-2xl sm:p-6">
          <div class="absolute inset-0 md:rounded-2xl" style="background-color: var(--background); opacity: 0.8; z-index: -1;"></div>
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
