---
import '@/styles/global.css'
import '@/styles/typography.css'

import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { SITE } from '@/consts'
import { cn } from '@/lib/utils'

import { Image } from 'astro:assets'
import backgroundImage from '@/assets/background.png'

const { isWide = false } = Astro.props
---

<!doctype html>
<html lang={SITE.locale}>
  <Head>
    <slot name="head" />
  </Head>
  <body>
    <div class="fixed inset-0 -z-10">
      <Image
        src={backgroundImage}
        alt="Background"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="flex h-fit min-h-screen flex-col gap-y-6 font-sans">
      <Header />
      <main class="grow">
        <div
          class={cn(
            'mx-auto flex grow flex-col gap-y-6 p-6 rounded-2xl',
            !isWide && 'max-w-3xl'
          )}
          style="background-color: var(--background); opacity: 0.90;"
        >
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
